@import url('https://fonts.googleapis.com/css?family=Abel|Arimo|Fira+Code|Fira+Sans|Heebo|Inconsolata|Josefin+Sans|Karla|Montserrat|Muli|Nanum+Gothic|Oxygen|Saira+Condensed|Source+Code+Pro|Staatliches|Titillium+Web|ZCOOL+XiaoWei&display=swap');

*,
*::before,
*::after {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

:root {
    /* Coolers */

    --dark-gunmetal: #202030;
    --trolley-grey: #7E8287;
    --russet: #854D27;
    --carrot-orange: #DD7230;
    --still-d-grain: #F4C95D;
    --ryb-blue: #004FFF;

    --red-black: #000;
    --tomato: #F06543;
    --shiny-shamrock: #5FAD56;
    --pineapple: #5C415D;
    --licorice: #1C110A;
    --antique-fuchsia: #995D81;
    --prune: #6E0D25;
    --dark-purple: #320A28;
    --deep-ruby: #734B5E;
    --m-vermillion: #D5573B;
    --silver: #BFBDC1;
    --raisin-black: #271F30;
    --midnight-green: #114B5F;
    --flame: #E4572E;
    --french-blue: #0267C1;
    --d-terracotta: #DB5461;
    --smokey-black: #0A100D;
    --deep-koamaru: #2B4162;
    --tumbleweed: #D8A47F;
    --japanese-indigo: #233D4D;
    --tangelo: #FFAC81;
    --alabaster: #EAF2E3;
    --copper-penny: #B2675E;
    --dark-gunmetal: #202030;
    --dark-jungle: #14281D;
    --mid-red-purple: #161032;
    --leather-green: #283618;
    --tart-orange: #FE4A49;
    --jet: #34344A;
    --light-salmon: #FAA275;
    --vivid-orange: #F0A202;
    --trolley-grey: #7E8287;
    --zinnwaldite: #251605;
    --prussian-blue: #003049;
    --dark-scarlet: #650D1B;
    --deer: #BB9457;
    --burgundy: #710627;
    --jelly-bean: #DE6B48;
    --persian-orange: #DE9151;
    --max-red: #DE1A1A;
    --steel-teal: #628395;
    --bright-navy-blue: #2D7DD2;
    --feldgrau: #4C5B5C;
    --bdazzled-blue: #26547C;
    --onyx: #31393C;

    /* Fonts */

    --staatliches: 'Staatliches', cursive;
    --montserrat: 'Montserrat', sans-serif;
    --saira-cond: 'Saira Condensed', sans-serif;
    --zcool-xiawei: 'ZCOOL XiaoWei', serif;
    --muli: 'Muli', sans-serif;
    --titillium: 'Titillium Web', sans-serif;
    --fira-sans: 'Fira Sans', sans-serif;
    --fira-code: 'Fira Code', monospace;
    --nanum-gothic: 'Nanum Gothic', sans-serif;
    --arimo: 'Arimo', sans-serif;
    --inconsolata: 'Inconsolata', monospace;
    --heebo: 'Heebo', sans-serif;
    --oxygen: 'Oxygen', sans-serif;
    --josefin-cans: 'Josefin Sans', sans-serif;
    --karla: 'Karla', sans-serif;
    --source-code: 'Source Code Pro', monospace;
    --abel: 'Abel', sans-serif;
}

html {
 box-sizing: border-box;
 font-size: 10px;
}

a {
 text-decoration: none;
}

ul {
 list-style: none;
}

img {
 width: 100%;
 max-width: 100%;
 height: auto;
}

p {
 font-size: 1.6rem;
}

section {
 padding: 5rem 0;
}

body {
 background: var(--deep-koamaru);
 color: var(--deer);
 font-family: var(--arimo);
}

/* WDS CSS */

.navbar {
 display: flex;
 position: relative;
 justify-content: space-between;
 align-items: center;
 background-color: #333;
 color: white;
}

.brand-title {
 font-size: 1.5rem;
 margin: .5rem;
}

.navbar-links {
 height: 100%;
}

.navbar-links ul {
 display: flex;
 margin: 0;
 padding: 0;
}

.navbar-links li {
 list-style: none;
}

.navbar-links li a {
 display: block;
 text-decoration: none;
 color: white;
 padding: 1rem;
}

.navbar-links li:hover {
 background-color: #555;
}

.toggle-button {
 position: absolute;
 top: .75rem;
 right: 1rem;
 display: none;
 flex-direction: column;
 justify-content: space-between;
 width: 30px;
 height: 21px;
}

.toggle-button .bar {
 height: 3px;
 width: 100%;
 background-color: white;
 border-radius: 10px;
}

@media (max-width: 800px) {
 .navbar {
     flex-direction: column;
     align-items: flex-start;
 }

 .toggle-button {
     display: flex;
 }

 .navbar-links {
     display: none;
     width: 100%;
 }

 .navbar-links ul {
     width: 100%;
     flex-direction: column;
 }

 .navbar-links ul li {
     text-align: center;
 }

 .navbar-links ul li a {
     padding: .5rem 1rem;
 }

 .navbar-links.active {
     display: flex;
 }
}